@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,body{
    display: grid;
    height: 100%;

    place-items: center;
    background: linear-gradient(375deg, #1cd0a3, #ccde2e) ;
}

.wrapper{
    height: 400px;
    width: 320px;
    position: relative;
}

.wrapper .card{
    height: 100%;
    width: 100%;
    position: absolute;
    background: #fff;
}

.wrapper .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.wrapper .back-face{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.wrapper .back-face img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.wrapper .back-face .info{
    text-align: center;
}

.back-face .info .tittle{
    font-size: 30px;
    font-weight: 500;
}

.back-face ul a{
    display: block;
    height: 40px;
}


li a {
    text-decoration: none;
}
ul{
    list-style: none;
}